.jumbotron{
  background-color: rgb(255, 210, 88);
  color: black;
  margin-top: 50px;
}
/*.btn{
  background-color: green;
}*/

footer{
  padding: 10px 10px 0 10px;
  background-color: rgba(245, 209, 3, 0.404);
  margin-top: 20px;
  margin-bottom: 0px;
}
.card-hotel{
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva{
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content{
  padding-top: 10px;
}